#boxA {
  width: 100%;
  height: 7.109004739%;
  line-height: 75px;
  background-color: teal;
  clear: left;
}

#boxB {
  width: 100%;
  height: 14.2180094778%;
  line-height: 150px;
  background-color: thistle;
}

#boxC, #boxD {
  width: 100%;
  height: 11.848341232%;
  line-height: 125px;
}

#boxC {
  background-color: tomato;
}

#boxD {
  background-color: turquoise;
}

#boxE, #boxF,
#boxG, #boxH {
  width: 50%;
  height: 23.696682464%;
  line-height: 250px;
  /* display: inline-block; */
}

#boxE {
  background-color: violet;
}

#boxF {
  background-color: yellow;
}

#boxG {
  background-color: orange;
}

#boxH {
  background-color: blue;
}

#boxI {
  width: 100%;
  height: 7.582938388%;
  line-height: 80px;
  background-color: cornflowerblue;
}