#boxA {
  width: 480px;
  height: 75px;
  line-height: 75px;
  outline: black 1px solid;

}

#boxB {
  width: 480px;
  height: 150px;
  line-height: 150px;
  outline: black 1px solid;

}

#CD-container > section {
  width: 480px;
  height: 125px;
  line-height: 125px;
  outline: black 1px solid;

}

#EF-container > section,
#GH-container > section {
  width: 240px;
  height: 250px;
  line-height: 250px;
  display: inline-block;
  outline: black 1px solid;

}

/* #boxE, #boxG {
  display: inline-block;
} */
/* nth-child reference from MDN 
https://developer.mozilla.org/en-US/docs/Web/CSS/:nth-child */
/* #EFGH-container:nth-child(even) {
  display: inline-block;
  background-color: green;
} */

#boxI {
  width: 480px;
  height: 80px;
  line-height: 80px;
}